
<!--<div class="app-header">-->

  <!-- Display guest header for guest customers -->
  <app-guest-dash-board *ngIf="hasNoRole()"></app-guest-dash-board>

  <!-- Display customer header for customers -->
  <app-customer-dash-board *ngIf="isCustomer()"></app-customer-dash-board>

  <!-- Display vendor header for vendors -->
  <app-vendor-dash-board *ngIf="isVendor()"></app-vendor-dash-board>

  <!-- Display admin header for administrators -->
  <app-admin-dash-board *ngIf="isAdmin()"></app-admin-dash-board>
<!--</div>-->


