
<mat-card>
  <mat-card-title><h2>Product Details</h2></mat-card-title>
  <mat-card-content>
    <div class="product-details">

      <div class="product">
        <img [src]="product.imageUrl" alt="{{ product.name }}" />
        <h3>name : {{ product.name }}</h3>
        <h3>Product id : {{ id }}</h3>
        <p>price : ${{ product.unitPrice }}</p>
        <p>status: ${{ product.status }}</p>
        <p>description : {{ product.description }}</p>
        <button class="btn btn-primary" (click)="addToCart(product)"><i class="bi bi-cart-plus"></i></button>
      </div>
    </div>
  </mat-card-content>
</mat-card>



