

<br/>
<br/>
<div *ngIf="enableSearch">
  <mat-card>
    <mat-card-title>Search</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="searchProducts()" >
        <div>
          <button *ngIf="enableSearch" (click)="disableSearchProducts()"  class="btn btn-danger">Stop Search</button>
          <mat-form-field style="margin-right:2rem; width:17%">
            <mat-label>Product Name:</mat-label>
            <input matInput type="text" [(ngModel)]="productName" name="productName" id="productName">
          </mat-form-field>

          <mat-form-field style="margin-right:2rem; width:13%">
            <mat-label>Type:</mat-label>
            <input  matInput type="text" [(ngModel)]="productType" name="type" id="type">
          </mat-form-field>

          <mat-form-field style="margin-right:2rem; width:13%">
            <mat-label>Category:</mat-label>
            <input  matInput type="text" [(ngModel)]="category" name="category" id="category">
          </mat-form-field>

          <mat-form-field style="margin-right:2rem; width:13%">
            <mat-label>Price:</mat-label>
            <input  matInput  type="number" [(ngModel)]="price" name="price" id="price">
          </mat-form-field>

          <button type="submit"><i class="bi bi-search"></i></button>
        </div>

      </form>

    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="isVendor() || isAdmin()">
  <span><b>Products</b></span>
  <br />
  <br />
  <div class="search-div">
       <button *ngIf="isVendor()" mat-raised-button (click)="onCreate()">
        <mat-icon>add</mat-icon>Create
      </button>
    <!--<button *ngIf="isVendor()" mat-raised-button (click)="createShipin()">
      <mat-icon>add</mat-icon>Create Shipin
    </button>-->
    <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" (keyup)="applyFilter()">
      <button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
      <button  matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>

    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" class="table table-striped" matSort>
    <!--<mat-table [dataSource]="products" class="table table-striped" matSort>-->
    <ng-container matColumnDef="product_id">
      <mat-header-cell *matHeaderCellDef>product id </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.productId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="product_name">
      <mat-header-cell *matHeaderCellDef>product name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.productName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_added">
      <mat-header-cell *matHeaderCellDef>date added</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.dateAdded}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="unit_price">
      <mat-header-cell *matHeaderCellDef>unit price</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.productPrice}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>status</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button *ngIf="isVendor()" mat-icon-button (click)="onCreateShipin(row.productId)">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-icon-button (click)="productDetails(row.productId)">
          <mat-icon>details</mat-icon>
        </button>

        <button *ngIf="isVendor()" mat-icon-button (click)="onEdit(row.productId)">
          <mat-icon>edit</mat-icon>
        </button>

        <button *ngIf="isVendor()" mat-icon-button color="warn" (click)="deleteProduct(row.productId)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">

      <mat-footer-cell *matFooterCellDef colspan="6">
        <!--Loading data ...-->
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="noData">

      <mat-footer-cell *matFooterCellDef colspan="6">
        <!--No data.-->
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null&&listData.data.length==0)}">
    </mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFisrtLastButtons></mat-paginator>
  <!--export to excel:
  <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:18px;color:green"></i></button>-->

  </div>

</div>

<div *ngIf="isCustomer() || hasNoRole()">
  <div>
    <mat-card>
      <mat-card-title>Products</mat-card-title>
      <mat-card-content>
        <button (click)="gotoShoppingCart()" class="btn-primary">Got to cart</button>
        <div class="product-list">
          <h2>Product List</h2>
          <button *ngIf="!enableSearch" (click)="enableSearchProducts()" class="btn btn-primary">Search products</button>
          <br/>
          <div class="product" *ngFor="let product of products">
            <div >
              <!--<a  (click)="productDetails(product.productId)">-->
              <img (click)="productDetails(product.productId)" [src]="imageUrl" alt="{{ product.productName}}"/>
              <!--<img (click)="productDetails(product.productId)" src="data:image/jpeg;base64,{{product.image}}" style="width: 80px; height:80px"  alt="Image of {{ product.productName }}"/>-->
              <!--</a>-->
            </div>
            <button (click)="incrementQuantity(product.productId)" class="bt btn-primary" >+</button>
            <!--{{cart.size}}-->
            {{itemQuantity}}
            <button (click)="decrementQuantity(product.productId)" class="btn btn-secondary">-</button>

            <h3>product name: {{ product.productName }}</h3>
            <p>Unit price: ${{ product.productPrice }}</p>
            <button class="btn btn-primary" (click)="addToCart(product.productId)"><i class="bi bi-cart-plus"></i></button>
          </div>

        </div>



      </mat-card-content>
    </mat-card>


  </div>

shopping
</div>
<!--<app-shopping-cart></app-shopping-cart>-->


