<mat-card>
  <mat-card-title>Products</mat-card-title>
  <mat-card-content>
    <div class="product-list">
      <h2>Product List</h2>
      <div class="product" *ngFor="let product of products">
        <div >
          <a  (click)="productDetails(product.productId)">
          <img [src]="imageUrl" alt="{{ product.name }}"/>
          </a>
        </div>

        <!--<h3>{{ product.name }}</h3>-->
        <!--<p>{{ product.description }}</p>-->
        <p>Unit price: ${{ product.unitPrice }}</p>
        <button class="btn btn-primary" (click)="addToCart(product)"><i class="bi bi-cart-plus"></i></button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

