<!--
<mat-card>
  <mat-card-header>
    <mat-card-title>Make payment</mat-card-title>
    <mat-card-content>
      <form class="checkout-form" [formGroup]="paymentForm">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Name"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" name="email" formControlName="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput type="number" name="amount" formControlName="amount" placeholder="Amount"/>
        </mat-form-field>



        <div class="stripe-card" ngxStripeCardGroup [elementsOptions]="elementsOptions">
          <h4>Enter payment details</h4>

          <div class="stripe-element">
            <ngx-stripe-card
              [options]="cardOptions"
              [elementsOptions]="elementsOptions"
            ></ngx-stripe-card>
            <ngx-stripe-card-number
              [options]="cardOptions"
              [elementsOptions]="elementsOptions"
            ></ngx-stripe-card-number>-->
          <!--</div>

          <div fxLayout="row" fxLayoutGap="10px">
            <div class="w-full stripe-element">
              <ngx-stripe-card-expiry
                [options]="cardOptions"
              ></ngx-stripe-card-expiry>
            </div>
            <div class="w-full stripe-element">
              <ngx-stripe-card-cvc
                [options]="cardOptions"
              ></ngx-stripe-card-cvc>
            </div>
          </div>
        </div>

        <button type="submit" (click)="pay()">Submit Payment</button>-->
        <!--<button type="submit" (click)="pay(payment_method)">Submit Payment</button>
      </form>
    </mat-card-content>
  </mat-card-header>
</mat-card>-->

<div class="payment">
  <h2>Payment Details</h2>
  <div id="payment-form">
    <div class="stripe-card" ngxStripeCardGroup [elementsOptions]="elementsOptions">
      <h4>Enter payment details</h4>

      <div class="stripe-element">
        <ngx-stripe-card
          [options]="cardOptions"
          [elementsOptions]="elementsOptions"
        ></ngx-stripe-card>
       <!-- <ngx-stripe-card-number
          [options]="cardOptions"

        ></ngx-stripe-card-number>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <div class="w-full stripe-element">
            <ngx-stripe-card-expiry
              [options]="cardOptions"
            ></ngx-stripe-card-expiry>
          </div>
          <div class="w-full stripe-element">
            <ngx-stripe-card-cvc
              [options]="cardOptions"
            ></ngx-stripe-card-cvc>
          </div>
        </div>
      </div>-->

  <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>

    <input type="Submit" class="btn btn-primary" (click)="processPayment()">
  </div>
</div>




