<mat-card>
  <mat-card-title><h2>Your Shopping Cart</h2></mat-card-title>
  <mat-card-content>

    <div *ngIf="itemsInCart(); else cartEmpty">
      <div id="item-list">
      <ul>
        <li *ngFor="let item of cartItems">

          <b>Product</b>: {{ item.productName }} &nbsp; <b>Quantity</b> : {{ item.quantity }} &nbsp;<b>Unit price</b>: {{ item.productPrice }} &nbsp; <b>Subtotal</b>  : {{ item.productPrice * item.quantity| currency: 'USD' }}
          <button (click)="incrementQuantity(item)" class="bt btn-primary" ><i class="bi bi-plus"></i></button>
          <button (click)="decrementQuantity(item)" class="btn btn-secondary"><i class="bi bi-dash"></i></button>
          <button (click)="removeFromCart(item)" class="btn btn-danger"><i class="bi bi-x"></i></button>
        </li>
      </ul>
      <div>Total: {{ calculateTotal() | currency: 'USD' }}</div>
      <button (click)="checkout()" class="btn btn-primary">Checkout</button>
    </div>
    </div>
    <ng-template #cartEmpty>
      <h1>Cart is empty</h1>
      <img src="/assets/empty.jpg" width="200" height="200">
    </ng-template>
  </mat-card-content>
</mat-card>
<!--<div >
  <ul>
    <li *ngFor="let item of cartItems">
      {{ item.productName }} (Quantity: {{ item.quantity }}) - ${{ item.price * item.quantity }}
      <button (click)="removeFromCart(item)">Remove</button>
    </li>
  </ul>
  <div>Total: ${{ calculateTotal() }}</div>
  <button (click)="checkout()">Checkout</button>
</div>-->

