<div>
    <mat-card class="mat-raised-button" width="50%">
        <mat-card-header>
            <mat-card-title><h1>Signup</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
                <div >

                    <mat-form-field style="margin-right:2rem; width:36%">

                        <mat-label>First name</mat-label>
                        <input matInput id="firstname" type="text" placeholder="first name" name="firstname"
                               formControlName="firstname" required/>
                        <mat-error>username is required</mat-error>
                    </mat-form-field>
                    <mat-form-field style="margin-right:2rem; width:36%">
                        <mat-label>Last name</mat-label>
                        <input matInput id="lastname" type="text" name="lastname" placeholder="last name"
                               formControlName="lastname" required/>
                        <mat-error>price cannot be zero</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="margin-right:2rem; width:36%">
                        <mat-label><i class="bi bi-envelope-at"></i></mat-label>
                        <input matInput id="email" type="email" placeholder="email" name="email"
                               formControlName="email" required/>
                        <mat-error>email is required</mat-error>
                    </mat-form-field>

                    <mat-form-field style="margin-right:2rem; width:36%">
                        <mat-label><i class="bi bi-phone"></i></mat-label>
                        <input matInput id="phone" type="phone" placeholder="phone" name="phone"
                               formControlName="phone" required/>
                        <mat-error>phone number is required</mat-error>
                    </mat-form-field>
                </div>

                <div>

                    <mat-form-field style="margin-right:2rem; width:36%">
                        <mat-label>Password</mat-label>
                        <input matInput id="password" type="password" name="password" formControlName="password" required/>
                        <mat-error>password is required</mat-error>
                    </mat-form-field>


                    <mat-form-field style="margin-right:2rem; width:36%">
                        <mat-label>Re-enter Password</mat-label>
                        <input matInput id="password2" type="password" name="password2" formControlName="password2" required/>
                        <mat-error>password is required</mat-error>
                    </mat-form-field>
                </div>


                <div>

                    <mat-form-field style="margin-right:2rem; width:36%">
                        <mat-label>User type</mat-label>
                        <mat-select formControlName="role" required>
                            <mat-option value=""></mat-option>
                            <mat-option value="CUSTOMER">Customer</mat-option>
                            <mat-option value="VENDOR">Vendor</mat-option>
                            <!--<mat-option value="ADMIN">Administrator</mat-option>-->
                        </mat-select>
                        <mat-error>user type must be selected</mat-error>
                    </mat-form-field>
                </div>
                <div width="30%">


                    <mat-form-field style="margin-right:2rem; width:30%">
                        <mat-label>Street</mat-label>
                        <input matInput id="street" type="text" placeholder="street" name="street"
                               formControlName="street" required/>
                        <mat-error>street is required</mat-error>
                    </mat-form-field>
                    <mat-form-field style="margin-right:2rem; width:13%">
                        <mat-label>City</mat-label>
                        <input matInput id="city" type="text" placeholder="city" name="city"
                               formControlName="city" required/>
                        <mat-error>city is required</mat-error>
                    </mat-form-field>
                    <mat-form-field style="margin-right:2rem; width:13%">
                        <mat-label>State</mat-label>
                        <input matInput id="state" type="text" placeholder="state" name="state"
                               formControlName="state" required/>
                        <mat-error>state is required</mat-error>
                    </mat-form-field>
                    <mat-form-field style="margin-right:2rem; width:10%">
                        <mat-label>Zip code</mat-label>
                        <input matInput id="zipcode" type="number" placeholder="zip-code" name="zipcode"
                               formControlName="zipcode"/>
                        <mat-error>zip code is required</mat-error>
                    </mat-form-field>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid"><i class="bi bi-box-arrow-in-right"></i></button>
              <button mat-raised-button class="btn btn-danger" (click)="onClose()">Cancel</button>
            </form>
        </mat-card-content>
    </mat-card>

</div>


